@page "/introPage"

<h1>Welcome to Itahari International College</h1>

<img src ="/images/iic.png" />

<p>where do i even begin, IIC is arguably the best college in Itahari affiliated to a foreign 
    University is the main selling point of the college. The college prioritizes young graduates for
    providing education providing the fresh knowledge and experience to its student. 
    </p>
@code {

}
