@page "/profile"

<h1>Profile</h1>
<img src="@photoPath" />
<h3>@name</h3>
<h3>@courseName</h3>
<h3>@batchYear</h3>


@code {
    const string photoPath = "images/img.jpg";
    const string name = "Bhoj";
    const string courseName = "BIT";
    const int batchYear = 2025;

}
